@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');

:root {
  /* Primary */
  --green-light: hsl(174, 77%, 80%);
  --green-dark: hsl(174, 86%, 45%);
  --accent-bg: hsl(14, 92%, 95%);
  --accent-text: hsl(15, 100%, 70%);
  --cta-text: hsl(226, 100%, 87%);
  --error: hsl(0, 85%, 62%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --bg: hsl(230, 100%, 99%);
  --grey-light: hsl(224, 65%, 95%);
  --grey-dark: hsl(223, 50%, 87%);
  --text: hsl(227, 35%, 25%);
  --textbox: #000;

  /* Numbers */
  --rad-sm: 4px;
  --rad-lg: 8px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Manrope', sans-serif;
  font-size: 1.6rem;

  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--cta-text);
  padding: 1rem 2rem;
  font-size: 2rem;
}

.app {
  background-color: var(--bg);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  display: grid;
  grid-template-columns: 1fr 380px 1fr;
  flex-grow: 1;
  overflow: hidden;
}

/* ############### */
/* APP CONTROLS */
/* ############### */

.app-controls {
  background-color: var(--grey-light);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  margin-bottom: 0.8rem;
}

.adjustment-box {
  padding: 1.2rem;
  border: 2px solid var(--green-dark);
  box-shadow: 0 5px 50px hsl(174, 77%, 89%);
  border-radius: var(--rad-lg);


  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 1rem;

  transition: border-color 0.3s box-shadow .3s;
}

.--error {
  border-color: var(--error);
  box-shadow: 0 5px 50px hsl(0, 71%, 94%);
}

.adjustment-controls {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 40px;


  border: 1px solid var(--grey-dark);
  border-radius: var(--rad-sm);
}

.btn-control {
  display: block;
  height: 100%;

  border: none;
  cursor: pointer;

  background-color: var(--grey-light);
}

.btn-control:first-child {
  border-bottom: 1px solid var(--grey-dark);
  border-top-left-radius: var(--rad-sm);
  border-top-right-radius: var(--rad-sm);
}

.btn-control:last-child {
  border-bottom-left-radius: var(--rad-sm);
  border-bottom-right-radius: var(--rad-sm);
}

.control-icon {
  width: 24px;
  stroke: var(--grey-dark);
}

.btn-control.--selected {
  background-color: var(--green-light);
}

.btn-control.--selected>.control-icon {
  stroke: var(--green-dark);
}

.adjustment-btns {
  grid-column: 2/3;
  justify-self: end;
}

.adjustment-btns button {
  cursor: pointer;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  padding: 0.4rem 0.8rem;
  border-radius: var(--rad-sm);
}

.btn-shift {
  color: var(--cta-text);
  background-color: var(--text);
  transition: color 0.3s;
}

.btn-shift:hover {
  color: var(--white);
}

.btn-clear {
  background-color: var(--grey-light);
  color: var(--text);
  text-decoration: none;
}

.btn-clear:hover {
  text-decoration: underline;
}

.adjustment-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.adjustment-inputs input[type="number"] {
  display: inline-block;
  height: 100%;
  border-radius: var(--rad-sm);
  outline: none;
  border: 1px solid var(--grey-dark);
  background-color: var(--bg);
  text-align: center;
}

/* Disable the arrows on the input tags */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ################ */
/* FORMATTER */
/* ################ */

.format-box {
  display: flex;
  gap: 0.7rem;

}

.format-btn {
  border: 1px solid var(--grey-dark);
  background-color: var(--bg);
  flex-basis: 100%;

  padding: 1rem;
  font-family: 'Manrope', sans-serif;
  color: var(--text);
  border-radius: var(--rad-sm);
  cursor: pointer;

  transition: background-color 0.2s;
}

.format-btn.clicked {
  background-color: var(--grey-dark);
}

.format-identifier {
  font-size: 2rem;
}

.format-helper {
  font-size: 1.3rem;
}

[data-format="bold"]>.format-identifier,
.bold {
  font-weight: 700;
}

[data-format="italic"]>.format-identifier,
.italic {
  font-style: italic;
}

[data-format="underline"]>.format-identifier,
.underline {
  text-decoration: underline;
}


/* ################ */
/* EDITOR */
/* ################ */
.app-text-section {
  padding: 2rem;
  min-height: 0;
  min-width: 0;

  display: grid;
  grid-template-rows: auto 1fr;
}

.textbox {
  /* width: 100%; */
  white-space: pre-wrap;

  border-radius: var(--rad-lg);
  border: 1px solid var(--grey-dark);
  color: var(--textbox);


  padding: 1rem;
  font-size: 1.4rem;
  line-height: 0.8cm;
  font-family: 'Manrope', sans-serif;
  overflow-y: scroll;
  resize: none;
}

.textbox:focus {
  outline: none;
}

.textbox::-webkit-scrollbar {
  width: 10px;
  height: auto;
}

.textbox::-webkit-scrollbar-track {
  background: var(--grey-light);
  border-radius: var(--rad-lg);

}

.textbox::-webkit-scrollbar-thumb {
  background-color: var(--grey-dark);
  border-radius: var(--rad-lg);
}


@media only screen and (max-width: 1200px) {
  .app {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .app-controls {
    grid-column: 1/-1;
    order: -1;
    flex-direction: row;
    justify-content: space-between;
  }

  .time-adjustment,
  .timestamp-format {
    flex-basis: 340px;
  }


  .app-text-section {
    padding: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  body {
    height: auto;
    font-size: 1.4rem;
  }

  .app {
    grid-template-rows: auto 500px 500px;
    grid-template-columns: 1fr;
  }

  .app-controls {
    grid-column: 1/-1;
    order: -1;
    flex-direction: column;
    padding: 1rem;
  }

  .app-text-section {
    margin-bottom: 2rem;
  }

  .time-adjustment,
  .timestamp-format {
    flex-basis: auto;

    display: flex;
    flex-direction: column;
  }

  .adjustment-box {
    max-width: 340px;
    align-self: center;
    padding: 0.8rem;
  }


  .app-text-section {
    padding: 1rem;
  }
}